APP_NAME=ecommerce-platform
APP_ENV=local
APP_URL=http://localhost:8080

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=ecommerce
DB_USERNAME=ecommerce
DB_PASSWORD=ecommerce

REDIS_HOST=redis
REDIS_PORT=6379

