APP_NAME=ecommerce-platform
APP_ENV=local
APP_URL=http://ecommerce.localho.st

DB_HOST=db
DB_PORT=3306
DB_DATABASE=ecommerce
DB_USERNAME=ecommerce
DB_PASSWORD=secret

REDIS_HOST=redis
REDIS_PORT=6379

TRAEFIK_DOMAIN=ecommerce.localho.st

