COMPOSE_PROJECT_NAME=ecommerce-platform
APP_ENV=local

# On Linux, use: id -u
APP_UID=1000

# On Linux, use: id -g
APP_GID=1000

WEB_PUBLISHED_PORT=8080

MYSQL_DATABASE=ecommerce
MYSQL_USER=ecommerce
MYSQL_PASSWORD=secret
MYSQL_ROOT_PASSWORD=root-secret
